.exerciseName {
  font-size: 28px;
  background-color:rgb(32, 28, 28);
  color: rgb(248, 253, 224);
  margin-top: 10px;
  padding: 5px;
  border-radius: 8px;
  text-align: center;
}

.exerciseDescription,
.exercisePhotos {
  overflow-x:hidden;
  margin-bottom: 15px;
  background-color:rgb(32, 28, 28);
  color: rgb(248, 253, 224);
  padding: 5px;
  border-radius: 8px;
}

.exerciseImage {
  width: 200px;
  height: 200px;
}

.restTimeTimer {
  background-color:rgb(32, 28, 28);
  color: rgb(248, 253, 224);
  max-width: 550px;
  margin: 0 auto 15px auto;
  padding: 5px;
  border: 1px solid black;
  border-radius: 8px;
}

.exerciseSection {
  background-color:rgb(32, 28, 28);
  color: rgb(248, 253, 224);
}

.exerciseTitle {
  display: flex;
  justify-content: space-around;
  border-radius: 8px;
  border: 2px solid black;
}

.blockInTitle {
  text-align: center;
  font-size: 27px;
}

.textUnderTitle {
  text-align: center;
  font-size: 25px;
}

.set {
  display: flex;
}

.loadingSpinner {
  text-align: center;
}

.blockInSet {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 22px;
}

.buttonSave {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.buttonSaveActive {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: rgb(29, 23, 15);
  background-color: rgb(216, 185, 119);
}

.buttonFinish {
  margin-top: 10px;
  font-size: 22px;
  color: rgb(31, 25, 18);
  background-color: rgb(240, 227, 209);
  margin: auto;
  width: 450px;
  border-radius: 8px;
}

.exerciseCompletedText {
  text-align: center;
  font-size: 25px;
}

@media (max-width: 767px) {
  .buttonFinish {
    width: 300px;
  }
}
@media (max-width: 567px) {
  .textUnderTitle {
    font-size: 18px;
  }
  .blockInTitle {
    font-size: 20px;
  }
  .blockInSet {
    font-size: 17px;
  }
  .buttonSave {
    width: 28px;
    height: 28px;
  }
}