.carousel {
  width: 1500px;
  height: 200px;
  margin: auto;
  display: flex;
  align-items: center;
}

.carouselItem {
  height: 180px;
}

.text {
  color: aliceblue;
  font-size: 25px;
}

@media (max-width:1500px) {
  .carousel,
  .carouselImage,
  .carouselItem {
    height: 250px;
  }
}

@media (max-width:1199px) {
  .carousel,
  .carouselImage,
  .carouselItem {
    height: 300px;
  }
}

@media (max-width:991px) {
  .carousel,
  .carouselImage,
  .carouselItem {
    height: 350px;
  }
}

@media (max-width:697px) {
  .carousel,
  .carouselImage,
  .carouselItem {
    height: 450px;
  }
}