.myContainer {
  margin-top: 20px;
}

.titleCreatedWorkout {
  max-height: 50px;
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
}

.navBlock {
  display: flex
}

.createWorkoutButton {
  padding: 10px;
  border-radius: 8px;
  text-decoration: none;
  color:rgb(9, 17, 9) ;
  background-color: rgb(236, 221, 199);
}

.createWorkoutButton:hover {
  color:rgb(9, 17, 9) ;
}

.contentSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 769px) {
  .contentSection {
    justify-content: space-between;
  }
}