.myContainer {
  margin-top: 20px;
}

.titleCreatedWorkout {
  padding-bottom: 8px;
  border-bottom: 2px solid black;
}

.navBlock {
  display: flex;
  justify-content: space-between;
  max-height: 45px;
}

.filters {
  display: flex;
}

.filterButton {
  display: none;
  margin-right: 15px;
  width: 150px;
  font-size: 20px;
  border-radius: 8px;
  color: white;
  background-color: black;
  border: 1px solid rgba(0, 0, 0, 0.35);
}

.filterButtonIcon {
  display: none;
  font-size: 25px;
  border-radius: 8px;
  background-color: black;
  color: rgb(236, 221, 199);
}

.createWorkoutButton {
  padding: 10px;
  border-radius: 8px;
  text-decoration: none;
  color:rgb(9, 17, 9) ;
  background-color: rgb(236, 221, 199);
}

.createWorkoutButtonIcon {
  display: none;
  align-items: center;
  font-size: 30px;
  height: 50px;
  width: 40px;
  padding-left: 7px;
  border-radius: 8px;
  width: 40px;
  color: rgb(236, 221, 199);
  background-color: black;
}

.createWorkoutButton:hover {
  color:rgb(9, 17, 9) ;
}

.contentSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 1199px) {
  .shopMainBlock {
    display: block;
  }
  .filters {
    display: none;
  }
  .filterButton {
    display: block;
  }
}

@media (max-width: 520px) {
  .filterButton,
  .createWorkoutButton {
    display: none;
  }
  .filterButtonIcon,
  .createWorkoutButtonIcon {
    display: block;
  }
}

