.myCard {
  width: 285px;
  height: 235px;
  margin: 10px 0px 10px 22px;
  background-color:rgb(37, 28, 28);
  border: 3px solid rgb(5, 5, 5);
}
.nameWorkout {
  display: block;
  text-align: center;
  font-size: 19px;
  margin-bottom: 10px;
  text-decoration: none;
  color: aliceblue;
}

.nameWorkout:hover {
  color: aliceblue;
}

.status {
  display: flex;
  color: aliceblue;
}

.difficulty {
  display: flex;
  color: aliceblue;
}

.description {
  color: aliceblue;
}

.buttonAddWorkout {
  
}
/* .titleSection {
  display: flex;
  justify-content: space-between;
} */

.buttonSeeMore {
  display: block;
  font-size: 18px;
  width: 200px;
  border: 1px;
  margin: 28px auto 0 auto;
  border-radius: 7px  ;
  color: aliceblue;
  background-color:rgb(58, 54, 49);
}