/* WorkoutPage.module.css */

.workoutContainer {
  margin-top: 30px;
  background-color: aqua;
}

.workoutCard {
  width: 1000px;
  height: 100%;
  margin: auto;
  background-color: burlywood;
}

.workoutTitle{
  display: flex;
  justify-content: space-between;
}

.workoutCardText {
  height: 150px;
  overflow: hidden;
}

.exerciseTitle {
  display: flex;
  justify-content: space-between;
}

.addNewExercise {
  font-size: 30px;
}

.exerciseList {
  list-style: none;
  padding: 0;
}

.exerciseListItem {
  margin-bottom: 8px;
}
