.container {
  background-color: rgb(241, 236, 212);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.formBlock {
  max-width: 500px;
  margin: 150px auto;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid black;
  color: aliceblue;
  font-size: 25px;
  background-color: rgb(44, 39, 34);
}
