.container {
  margin: 0;
  padding: 0;
}

.myNavbar {
  display: flex;
  justify-content: space-between;
  height: 63px;
  position: fixed;
  background-color: rgb(3, 14, 24);
  width: 100%;
  top: 0;
  z-index: 10;
}

.logo {
  font-size: 25px;
  margin-left: 10px;
  text-decoration: none;
  color: whitesmoke;
}

.menuNavbar {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  margin-right: 50px;
} 

.workouts,
.profile,
.login,
.logout {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  margin-left: 18px;
  transition: text-decoration 0.3s;
}

.workouts:hover {
  color: white;
  text-decoration: underline; 
}

.logo:hover,
.profile:hover,
.login:hover,
.logout:hover {
  color: white;
}