.containerForm input,
.containerForm textarea,
.containerForm input:focus,
.containerForm textarea:focus  {
  background-color: rgba(255, 255, 255, 0.15);
  color: rgb(255, 255, 255);
  border: 0;
  box-shadow: none;
}

.containerForm label {
  color: rgb(247, 241, 234);
  font-size: 20px;
}

.button {
  width: 100px;
  height: 30px;
  margin-left: auto;
  margin-right: 10px;
  border-radius: 8px;
  background-color: darkolivegreen;
  color: aliceblue;
  border: 0;
}

@media (max-width: 735px) {
  .containerForm {
    width: 500px;
    margin: auto;
  }
}