.container {
  background-color: rgb(248, 253, 224);
  min-height: 100vh;
}

.header {
  display: flex ;
  justify-content: space-between;
  font-size: 18px;
  height: 50px;
  margin-top: 20px;
}

.myBreadcrumb {
  margin-top: 10px;
}

.navBlock {
  margin-top: 10px;
  display: flex;
}

.filters {
  display: flex;
}

.filterButton {
  display: none;
  margin-right: 15px;
  width: 80px;
  font-size: 20px;
  border-radius: 8px;
  color: white;
  background-color: black;
  border: 1px solid rgba(0, 0, 0, 0.35);
}

.createWorkoutButton {
  padding: 5px;
  border-radius: 8px;
  text-decoration: none;
  color:rgb(9, 17, 9) ;
  background-color: rgb(236, 221, 199);
}

.createWorkoutButton:hover {
  color:rgb(9, 17, 9) ;
}

@media (max-width: 810px) {
  .shopMainBlock {
    display: block;
  }

  .filters {
    display: none;
  }

  .filterButton {
    display: block;
  }
}